.command {
	.contains {
		
		.row {
			.coordonnees {
				a {
					.active {
						color: $colorBlue;
					}
				}
			}

			.nav-button {
				cursor: pointer;
				.onglets {
					width: 200px;
					height: 30px;
					background: $colorBlue;
					color: white;
					
				}

				.onglets--active {
					background: $colorBlue;
					color: white;
				}
			}
		}
	}
}
