.connexion-toggle {
	button {
		border: 1px solid $colorBlue;
		color: $colorBlue;
		font-weight: bold;
		border-radius: 20px;
		&:hover {
			background: $colorBlue;
			color: white;
		}
	}

	.overlay {
		position: absolute;
		display: none;
        
	}

	.modal-content {
		position: absolute;
		top: 7%;
		left: 50%;
		transform: translate(-50%, -20%);
		width: 500px;
		height: 470px;
		border-radius: 10px;

		.btn-close {
			font-size: .5rem;
			box-shadow: none;
			position: absolute;
			top: 25px;
			right: 15px;
		}

		.con-reseaux {
			button {
				border-radius: 5px;
				padding: .6rem;
				background: transparent;
				border: .5px solid rgba(150, 149, 149, 0.205);
				box-shadow: 0 1px 5px rgba(48, 46, 46, 0.233);
				transition: .3s ease-in-out;
				@include center;
				gap: 5px;

				&:nth-child(1):hover {
					background: rgba(255, 0, 0, 0.637);
				}
				&:nth-child(1) strong {
					color: black;
				}

				&:nth-child(1):hover strong,
				&:nth-child(1):hover span,
				&:nth-child(2) strong,
				&:nth-child(2) span {
					color: white;
				}

				&:nth-child(2) {
					background: blue;
				}
				&:nth-child(1) span {
					color: red;
					font-size: 1.3rem;
				}
			}
			.span {
				color: red;
			}
		}
		.ou {
			position: relative;
			top: 15px;

			&::after {
				content: "";
				position: absolute;
				width: 150px;
				height: 1.2px;
				top: 11px;
				left: 30px;
				background: rgba(128, 128, 128, 0.507);
			}
			&::before {
				content: "";
				position: absolute;
				width: 150px;
				height: 1.2px;
				top: 11px;
				right: 30px;
				background: rgba(128, 128, 128, 0.507);
			}
		}
		.forget {
			color: red;
		}
		input[type="submit"] {
			background: $colorBlue;
		}
	}


    .show {
        display: initial;
        position: absolute;
        width: 100%;
		height: 100%;
        background: rgba(17, 16, 16, 0.733);
    }
}
