.header--connect{
    
	.container {
		margin-left: 98px;
		.row {
			.logo {

                .form {
                    width: 300px;
                }
				a {
					span {
						font-size: 1.8rem;
						font-weight: bold;
						color: $colorBlue;

						&:nth-child(2) {
							color: $colorBlack;
						}
					}
				}
				.text-title {
					color: $colorBlue;
				}
			}
			select {
				border: none;
			}
			
            .profil{
                position: relative;

                img {
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    margin-left: 10px;
                }

                .lien {
                    display: none;
                    
                }

                .show {
                    display: initial;
                    width: 150px;
                    height: 100px;
                    background: $colorBlue;
                    border-radius: 10px;
                    position: absolute;
                    left: 40%;
                    top: 100%;
                    
                    a {
                        color: white;
                    }
                    

                    &::before{
                        content: "";
                        position: absolute;
                        top: -10%;
                        left: 50%;
                        transform: translateX(-50%) rotateZ(45deg);
                        background: $colorBlue;
                        width: 20px;
                        height: 20px;

                    }
                    
                }

                .h6 {
                    cursor: pointer;
                }
            }

		}
	}
}
