.notFound{
    background: rgba(0, 0, 255, 0.205);
    @include center;
    height: 100vh;

    div {

        p {
            font-size: 1.3rem;
        }
    }

    .acceuil {

        cursor: pointer;
        color: $colorBlue;
    }
}