.password {

    .contains{
        
        .row{

            .coordonnees {

                a {
                    .active {
                        color: $colorBlue;
                    }
                }
            }
        }

        .submit {

            input[type="submit"]{
                background: $colorBlue;
                padding: .6rem;
                color: white;
                width: 100%;
                border-radius: 20px;
                &:hover{
                    background: blue;
                }
            }
        }

        input[type="password"]{
            
            padding: .7rem;
        }
    }
}