.profil {
	.content {
		
		.row {
			.coordonnees {
				
			}

			.content__coordonnees {
				.contains {
					.cadre--border {
						width: 100%;
						height: 150px;
						border-radius: 5px;
						border: 4px dotted $colorBlue;

						@include center;
						padding: 20px;
					}

					form {
						input[type="text"] {
							padding: .8rem;
						}

						textarea {
							resize: none;
						}

						.submit {
							input[type="submit"] {
								background: $colorBlue;
								padding: .6rem 2rem;
								color: white;

								&:hover {
									background: blue;
								}
							}
						}
					}

					.contact {
						background: white;
						width: 100%;
						border-radius: 10px;
						.number {
							button {
								border: none;
								background: none;
								color: $colorBlue;
							}
						}

						input[type="tel"] {
							width: 230px;
							padding: .7rem;
						}
					}

					.adresses {
						.row {
							.card {
								padding: .8rem;
								border-radius: 10px;
							}
						}

						button {
							border: none;
							background: none;
							color: $colorBlue;
						}
					}
				}
			}

	
		}

		.delete {
			line-height: 6px;
			button {
				border: none;
				background: none;
				color: $colorBlue;
				padding: 0;
			}
		}
	}
}
