.prod {

    .row {
        gap: 35px;

        .card{
            border-radius: 10px;
            
            button {
                
                &:nth-child(1) {
                    border-radius: 10px;
                    padding: .5rem 2.4rem;
                    
                }
                &:nth-child(2){
                    border-radius: 15px;
                    padding: .5rem 1rem;
                    
                }
            }
            .images {
                transition: .2s ease-in-out;
            }
            .images:hover {
                transform: scale(1.1);
            }
        } 


        .voir-plus {
            
            button{
                border-radius: 15px;
                padding: .5rem 2.7rem;
                font-weight: 600;
            }
        }  

    }
}
