@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*,
*::after,
*::before {
	outline: none;
	box-sizing: border-box;
}

$colorBlue: rgb(8, 26, 192);
$colorBlack: #333;


body {
	overflow-x: hidden;
	width: 100%;
	overflow-y: auto;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
}

body::-webkit-scrollbar {
	width: 5px;
	height: 8px;
	background-color: rgba(184, 183, 183, 0.336);
}

body::-webkit-scrollbar-thumb {
	background: $colorBlue;
	border-radius: 50px;
}


a {
	text-decoration: none;
	color: $colorBlack;

	&:hover {
		color: $colorBlack;
	}
}

@mixin center {
	display: flex;
	justify-content: center;
	align-items: center;
}
