.details {
	position: relative;
	.container {
		.row {
			.detail--product {
				.h2 {
					color: $colorBlue;
				}
				.btn {
					padding: 0;
					button {
						&:nth-child(1) {
							background: rgb(247, 18, 132);
							border: none;
							padding: .5rem 2.5rem;
							color: white;
							border-radius: 10px;
							font-size: 1.2rem;
						}
					}
					a {
						button {
							background: rgb(8, 26, 192) !important;
						}
					}
				}
			}

			.product {
				.row {
					.img {
						width: 200px !important;
						height: 200px;
						img {
							width: 200px;
							height: 200px;
						}	
					}
					.card {
						border-color: $colorBlue;
						border-radius: 10px;

						width: 170px;
						height: 150px;
						img {
							width: 140px;
							height: 140px;
						}
					}
				}
			}
		}
	}
}
