.vetements {

    .contains{

        .row {
            background: url("../medias/fond-acceuil.jpg");
        }
    }

    .prod{

        .row{
            gap: 37px;

            .card{
                border-radius: 10px;
            }
        }
    }
}