@import './styles/settings';
@import './styles/header';
@import './styles/home';
@import './styles/produit';
@import './styles/vetements';
@import './styles/contains';
@import './styles/prod';
@import './styles/new';
@import './styles/footer';
@import './styles/categories';
@import './styles/navigation';
@import './styles/uniqueProduit';
@import './styles/headerConnect';
@import './styles/profil';
@import './styles/password';
@import './styles/command';
@import './styles/encours';
@import './styles/effectuees';
@import './styles/notFound';
@import './styles/livraison';
@import './styles/panier';
@import './styles/onglets';
@import './styles/top';
@import './styles/accessoires';
@import './styles/chaussures';
@import './styles/connexion';
@import './styles/inscription';
@import './styles/loader';